@model IEnumerable<Authorization_Server.Models.Credential>

@{
    ViewData["Title"] = "Credetials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="home-firstdiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Credentials</li>
                </ol>
            </div>
            <div class="panel-body">
                
                <table class="table table-striped panel">
                    <thead>
                        <tr>
                            <th style="width: 50%" scope="col">Credential ID</th>
                            <th style="width: 20%" scope="col">Issued at</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div id="accordion">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">@item.jti</button>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                      <pre id="@item.jti">
                                       </pre>
                                    </div>
                                    </div>
                                </td>
                                <td>@DateTimeOffset.FromUnixTimeSeconds(item.iat).DateTime</td>
                                <td>

                                    <a asp-action="Delete" asp-route-id="@item.jti" class="btn">
                                        <img src="img/delete.svg" alt="key" title="Revoke"><br />
                                        <small>Revoke</small>
                                    </a>
                                </td>
                            </tr>
                        }
                </table>
            </div>
        </div>

    </div>
</div>
<script>
@foreach (var item in Model)
    {
       <text>
       const obj = @Html.Raw(item.payload);
       document.getElementById("@item.jti").innerHTML = JSON.stringify(obj, undefined, 2)
       </text>
    }

</script>

